@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/urbanist/v15/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4vH5mqe8Q.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }


body {
    background-color: rgb(202, 202, 202);
  }

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em 2em;
    justify-content: center;
    align-content: flex-start;
  }

.control {
    height: 100vh;
    width: 100vw;
    border-color:aqua;
    position:absolute;
    top:0;
    left:0;
    font-family: Urbanist;
    overflow: hidden;
}

.col {
    height:auto;
    width: 350px;;
    text-align: center;
}

.sidebar {
    background-color:#585858;
    border-radius:0px 350px 0px 0px;

}

.row {
    width:auto;
    border: 1px solid rgb(202, 202, 202);
    margin-bottom:1em;
}

row.menu{
    height:75%;

}

.header {
    text-align: center;
    color:rgb(49, 49, 49);
    background-color: rgb(202, 202, 202);
    
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #2d2d2d;
}
.button {
    padding: 6px 0;
    background-color: #1465a7;
    border: none;
    color: #f2f2f2;
    height: 60px;
    font: 24px Helvetica;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    width:100%;
    cursor: pointer;
    display:block;
    opacity:0.9;
    border-radius:0px 10px 10px 0px;
    margin:0.5em;
    user-select: none;
  }

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
    background-color: #02182a;
    user-select: none;
}

.circle {
    overflow: hidden;
    width:70vw;
    height:70vh;
    position:absolute;
    border-radius: 0 100% 0 0;
    background-color: rgb(35, 112, 157);

}
.innercircle {
    overflow: hidden;
    width:60vw;
    height:60vh;
    position:absolute;
    border-radius: 0 100% 0 0;
    background-color: #7eafb3;
}
