body {
    background-color: rgb(202, 202, 202);
  }

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em 2em;
    justify-content: center;
    align-content: flex-start;
  }

.control {
    height: auto;
    width: 100vw;
    border-color:aqua;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
}

.col {
    height: auto;
    width: 100%;
    text-align: center;
}

.sidebar {
    background-color:#585858;
    border-radius:0px 350px 0px 0px;

}

.row {
    width: auto;
    border: 1px solid rgb(202, 202, 202);
    margin-bottom:1em;
}

row.menu{
    height:75%;

}

.header {
    text-align: center;
    color:rgb(49, 49, 49);
    background-color: rgb(202, 202, 202);
    
}

.button:active {
  box-shadow: 0 5px #2d2d2d;
}
.button {
    padding: 6px 0;
    background-color: rgb(20, 101, 167);
    border: none;
    color: #f2f2f2;
    height: 60px;
    font: 24px Helvetica;
    text-align: center;
    text-wrap:pretty;
    text-decoration: none;
    font-size: medium;
    width: auto;
    cursor: pointer;
    display: block;
    opacity:0.8;
    border-radius:10px 10px 10px 10px;
    margin:0.5em;
    user-select: none;
  }

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
    background-color: #02182a;
    user-select: none;
}
.background_elements{
    overflow: hidden;
    position: fixed;
    border-radius: 0 100% 0 0;
}
    .background_elements.circle {
        width:70vw;
        height:70vh;
        background-color: #23709d;
    }
    .background_elements.innercircle {
        width:60vw;
        height:70vh;
        background-color: #7eafb3;
    }

